html,body{
    height: 100%;
}

.container{
    background-color: royalblue;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
    height: auto !important;
    width: 1200px ;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
}

header,footer{
    height: 100px;
    background-color: aqua;
}

main{
    display: flex;
    flex-direction: row;
    background-color: lightblue;
    flex-grow: 1;
}

aside{
    background-color: gray;
    width: 200px;
}

.logo{
    text-align: center;
    align-items: center;
}

